name: Deploy to All-Inkl

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # Ermöglicht manuelles Auslösen

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
    
    - name: FTP Deploy
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: w00d4b57.kasserver.com
        username: w00d4b57
        password: ${{ secrets.FTP_PASSWORD }}
        server-dir: /
        exclude: |
          **/.git*
          **/.git*/**
          **/node_modules/**
          **/.github/**
          **/.DS_Store
          **/__MACOSX/**
